<%= render 'layouts/header'%>
<div class="container">
  <div class="row">
    <h1>忙しい中自炊毎日お疲れ様です。</h1>
    <h2>Just-cook-it の目的</h2>
    <p> Just-cook-itでは毎日自炊を頑張る皆さんへ少しでも楽しく、モチベーションになって頂けたい
        と思い製作しました。
    </div>
</div>

<div id="container">
  <div id="theTarget">
    <div class="image1"></div>
    <div class="image2"></div>
    <div class="image3"></div>
    <div class="image4"></div>
    <div class="image5"></div>
  </div>
</div>



<%= render 'layouts/footer'%>