<%= render 'layouts/header'%>
<div class =main-visual-top>
  <div class="col-xs-6 col-xs-offset-3">
    <div class="main-visual-top-text-box">
      <h1 class="text-center">忙しい中毎日自炊お疲れ様です！</h1>
      <p class="text-center" style="font-size: 18px">
        毎日自炊する中で今日のご飯何しょうか？<br/>
        と献立を考えるのに苦労したり、<br/>
        １週間前に作った料理内容を忘れてしまったり情報を探すのに時間がかかり、<br/>
        苦労した経験が有ると思います。<br/>
        そのようなシュチュエーションの際は<strong>Just-cook-it</strong>を<br/>
        使って自分自身の献立の情報管理をしてみましょう。<br/>
        毎日の自炊料理時間を楽に効率よくこなすために<br/>
        活用して下さい！！<br/>
      </p>
    </div>
  </div>  
</div>      




<%= render 'layouts/footer'%>