<%= render 'layouts/header'%>

<div class =main-visual-top>
  <div class="col-xs-5 col-xs-offset-4">
    <div class="main-visual-top-text-box">
      <h3 class="second-title">毎日自炊を頑張る人へ寄り添うサイト</h3> 
      <h1 class="title">Just cook it！へようこそ</h1>
    </div>
  </div>  
</div>  
    

<%= render 'layouts/footer'%>