// Place all the styles related to the Post_food_comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fa{
  margin-left: 10px;
}
.comment{
  width: 500px;
}
.comment-image{
  width: 100px;
  
}

.comment-name{
  width: 100px;
}

.comment-text{
  width: 250px;
}