// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.glyphicon-cog:before {
    color: #66cc00;
}

.btn.outline {
    color: #4cae4c;
    background: none;
    border-color: #4cae4c
}

.btn.outline2 {
    color: #d9534f;
    background: none;
    border-color: #d9534f;
}



.posts-area{
  margin: 10px 30px 20px 10px;
  width: auto;
  background-color:#FFCC66;
  box-shadow: 2px 2px 2px 2px;
  border-radius: 10%;
    
}

.posts-area.col-lg-3{
    padding: 0px 0px 0px 40px;
}
    

.posts-area:ntn-child(4n) {
    margin-right: 0px; /* 4つ目の料理のみ右側余白を0pxに */
}