// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.glyphicon-cog:before {
    color: black;
}

.btn.outline {
    color: #4cae4c;
    background: none;
    border-color: #4cae4c
}

.btn.outline2 {
    color: #d9534f;
    background: none;
    border-color: #d9534f;
}


.show-posts-area{
    width: auto;
    display: flex; /* Flexboxの利用 */
    flex-wrap: wrap; /* Flexboxの利用時に横幅を超えた要素を折り返す */
    flex-direction: column;/* Flexboxの利用 縦並び */
}

.users-posts-area{
    padding: 10px 10px 10px 20px;
    width: auto;
    margin: 10px;
    background-color:#FFCC66;
    box-shadow: 2px 2px 2px 2px;
    border-radius: 10%;
}