<footer class ="navbar ">
  <div class ="container" >
    <div class="col-xs-5 col-xs-offset-4"style="margin-bottom:10px;">
     <p>Copyright © Just cook it Inc. All Rights Reserved.</p>
     </div>
  </div>  
</footer>